@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poor+Story&family=Poppins:wght@300;400;500;600;700&display=swap');

#root{
    width: 550px;
height: 853px;

background: #FFFFFF;
border-radius: 8.95px;
margin: auto;
overflow-x: hidden;
}

body{
    font-family: 'Inter', sans-serif;
font-family: 'Poor Story', cursive;
font-family: 'Poppins', sans-serif;
box-sizing: border-box;
background: #E5E5E5;

}
.card-parent{
    display: flex;
    gap: 18px;
    box-sizing: border-box;
    padding-left: 37px;
    overflow-x: scroll;
}
